*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
   
    border: 2px dashed red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

li{
    list-style-type: none;
}

header div{
   display: flex;
   gap: 20px;
}

header div ul{
    display: flex;
    gap: 20px;
}

.background{
    width: 100%;
    background-color: #b4d0e7
}


main .CELESTE{
    width: 60%;
    margin: 0 auto;
}

.TitoloH1{
   text-align: center;
   font-size: 35px;
}

.FlexColonna div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maindue{
    width: 50%;
    margin: 0 auto;
}

.maindue div h3{
    font-size: 30px;
    margin-bottom: 30px;
}

.maindue div div label{
    margin-right: 30px;
}

main .Tariffe{
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 30px;
}

.Professional{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.Professional div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Tariffe h6{
text-align: center;
}

.Advanced{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.Advanced div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Enterprise{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.Enterprise div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UfficioVendite{
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: 1px solid lightgray;
}

.UfficioVendite div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main article{
    width: 50%;
    margin: 50px auto;
    display: flex;
}
article img{
    width: 400px;
}

article div p{
    margin-top: 30px;
    margin-left: 30px;
}
article div h4{
    margin-top: 30px;
    margin-left: 30px;
}
article div button{
    margin-top: 30px;
    margin-left: 30px;
}

.SecondoTitolo{
    margin: 0 auto;
    width: 50%;
}

.InfoFlex div img{
    width: 100%;
}

.InfoFlex{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 24px;
    margin-block: 30px ;
    margin-bottom: 100px;
}
.InfoFlex div{
    flex-basis: calc(100% / 3 - 1em);
}

.InfoFlex div h4{
    margin: 10px 0 10px 0;
}

.infoUso{
    margin: 0 auto;
    width: 50%;
}
.infoUso h2{
    margin: 0px 0 20px 0;
}
.infoUso span a{
    margin: 0px 0 40px 0;
}


.container {
    display: flex;
  }

.width{
    width: auto;
}
.main-square {
    display: flex;
    flex-wrap: wrap; 
    width: 300px;
    height: 300px;
    background-color: #f5f5f5;
}
.main-square .parteCentrale{
    width: 80%;
    margin: 0 auto;
}

.main-square .parteCentrale p{
    margin: 10px 0 15px 0;
    font-size: 10px;
}
.main-square .parteCentrale cite{
    font-size: 10px;
}
.main-square img{
    width: 100px;
    margin: 10px 0 15px 0;
}
.green-square{
    width: calc(25% - 10px); 
    height: 150px;
    width: 50%; 

}

.sub-square1{
    background-color: #a2d39b;
    background-image: url("./img/designit.svg");
}
.sub-square2{
    background-color: #61082b;
    background-image: url("/img/university_of_florida.svg");
}
.sub-square3{
    background-color: #0093ce;
    background-image: url("./img/university_of_florida.svg");
}
.sub-square4{
    background-color: #ff1c1c;
    background-image: url("./img/topps.svg");
}
.sub-square5{
    background-color: #d5001f;
    background-image: url("./img/world_bicycle_relief.svg");
}
.sub-square6{
    background-color: #b4d0e7;
    background-image: url("./img/hearst_corp.svg");
}
.sub-square7{
    background-color: #0d2481;
    background-image: url("./img/lonely_planet.svg");
}
.sub-square8{
    background-color: #ffd830;
    background-image: url("./img/clear_channel.svg");
}

.ProvaGratuita{
    width: 100%;
    background-color: #b4d0e7;
    height: 200px;
    display: flex;
    align-items: center;
}


.ProvaGratuita div{
    width: 50%;
    background-color: #b4d0e7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.ProvaGratuita div h2{
    color:#610829;
}

.Domande{
    width: 100%;
    margin-top: 50px;
}
.Domande div{
    width: 50%;
    margin: 0 auto;
}
.Domande div p{
   font-size: 13px;
}
.Domande div p span{
    margin-left: 100px;
 }

 .Domande div hr{
    margin: 20px 0 20px 0;
 }

 footer{
    width: 100%;
    background-color: black;
    color: white;
 }

.ContenitoreFooter{
    display: flex;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}

.ContenitoreFooter h3{
    margin: 30px 0 10px 0;
}

.ContenitoreFooter li{
    margin: 0 0 8px 0;
}

.lingua{
    width: 65%;
    margin: 0 auto;
    margin-block: 20px;
    

}
